{include file="header"}

	<div class="row" style="margin-top: 15px;">
		<div class="col-md-9">
		<!--页面分成两边，右边互动中心独立出来-->
			<div class="col-md-4">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="height: 120px;width: 215px;margin-left: 20px;">
			    <!-- Indicators -->
			        <ol class="carousel-indicators" style="bottom: -5px;">
			          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
			        </ol>

			        <!-- Wrapper for slides -->
			        <div class="carousel-inner" role="listbox" style="height: 120px;width: 215px;">
			          <div class="item active">
			            <img src="_PUBLIC_static/index/img/lb01.jpg" alt="..."">
			          </div>
			          <div class="item">
			            <img src="_PUBLIC_static/index/img/lb02.jpg" alt="...">
			          </div>
			          <div class="item">
			            <img src="_PUBLIC_static/index/img/lb03.png" alt="">
			          </div>
			        </div>

			        <!-- Controls -->
			        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			          <span class="sr-only">Previous</span>
			        </a>
			        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			          <span class="sr-only">Next</span>
			        </a>
		      	</div>
		      	<div class="sRecommend">
		      		特别推荐
		      	</div>
		      	<div class="sRecommendContent">
		      		<ul>
		      			<li>
		      				<p>微信小程序面试题，附答案</p>
		      				<p class="pull-right">12-05</p>
		      			</li>
		      			<li>
		      				<p>微信小程序面试题，附答案</p>
		      				<p class="pull-right">12-05</p>
		      			</li>
		      			<li>
		      				<p>微信小程序面试题，附答案</p>
		      				<p class="pull-right">12-05</p>
		      			</li>
		      			<li>
		      				<p>微信小程序面试题，附答案</p>
		      				<p class="pull-right">12-05</p>
		      			</li>
		      			<li>
		      				<p>微信小程序面试题，附答案</p>
		      				<p class="pull-right">12-05</p>
		      			</li>
		      			<li>
		      				<p>微信小程序面试题，附答案</p>
		      				<p class="pull-right">12-05</p>
		      			</li>
		      		</ul>
		      	</div>
			</div>
			<!--主页中间-->
			<div class="col-md-8">
				<div class="home_mid">
					<h3 style="text-align: center;">应届毕业生应如何找工作</h3>
					<p style="border-bottom: #DADADA dashed 1px;padding-bottom: 5px;">
						前程无忧为企业提供人才招聘、猎头、培训、测评和人事外包在内的全方位的人力资源服务，帮助个人求	职者与企业搭建最佳的人才招募和人才培养渠道。...[查看全文]
					</p>
					<div>
						<ul>
							<li>vue前端框架面试问题汇总</li>
							<li style="margin-left: 30px;">vue前端框架面试问题汇总</li>
						</ul>
					</div>
					<br>
					<div>
						<ul>
							<li>vue前端框架面试问题汇总</li>
							<li style="margin-left: 30px;">vue前端框架面试问题汇总</li>
						</ul>
					</div>
					<div class="clear">
						<p style="margin-top: 30px;"><b>最近更新</b></p>
						<div class="updateContent">
							<ul>
								<li>●40 个重要的 HTML5 面试问题</li>
								<li>●PHP 应用性能优化指南</li>
								<li>●PHP 应用性能优化指南</li>
								<li>●PHP 应用性能优化指南</li>
								<li>●PHP 应用性能优化指南</li>
								<li>●PHP 应用性能优化指南</li>
								<li>●PHP 应用性能优化指南</li>
								<li>●PHP 应用性能优化指南</li>
								<li>●PHP 应用性能优化指南</li>
								<li>●PHP 应用性能优化指南</li>
							</ul>
						</div>
					</div>

				</div>
			</div>
			<div class="col-md-12">
				<h6><b>图文资讯</b></h6>
				<img src="_PUBLIC_static/index/img/ask.png" alt="">
			</div>
			<!--下面四个内容框-->
			<div class="col-md-12">
				<div class="col-md-6">
					<div class="GoodInterview">
						<div class="GoodInterview_title">
							<h6><b>vue面试通</b></h6>
							<h6 class="pull-right">更多...</h6>
						</div>
						<div class="GoodInterview_content">
							<ul>
								<li>
									<span>12-29</span>
									<p>Vue的UI开源框架汇总，含Vue Material、IView、vux等</p>
									<br>
								</li>
								<li>
									<span>12-29</span>
									<p>Vue的UI开源框架汇总，含Vue Material、IView、vux等</p>
								</li>
								<li>
									<span>12-29</span>
									<p>Vue的UI开源框架汇总，含Vue Material、IView、vux等</p>
								</li>
								<li>
									<span>12-29</span>
									<p>Vue的UI开源框架汇总，含Vue Material、IView、vux等</p>
								</li>
								<li>
									<span>12-29</span>
									<p>Vue的UI开源框架汇总，含Vue Material、IView、vux等</p>
								</li>
								<li>
									<span>12-29</span>
									<p>Vue的UI开源框架汇总，含Vue Material、IView、vux等</p>
								</li>
								<li>
									<span>12-29</span>
									<p>Vue的UI开源框架汇总，含Vue Material、IView、vux等</p>
								</li>
								<li>
									<span>12-29</span>
									<p>Vue的UI开源框架汇总，含Vue Material、IView、vux等</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="GoodInterview">
						<div class="GoodInterview_title">
							<h6><b>vue面试通</b></h6>
							<h6 class="pull-right">更多...</h6>
						</div>
						<div class="GoodInterview_content">
							<ul>
								<li>
									<span>12-29</span>
									<p>Vue的UI开源框架汇总，含Vue Material、IView、vux等</p>
									<br>
								</li>
								<li>
									<span>12-29</span>
									<p>Vue的UI开源框架汇总，含Vue Material、IView、vux等</p>
								</li>
								<li>
									<span>12-29</span>
									<p>Vue的UI开源框架汇总，含Vue Material、IView、vux等</p>
								</li>
								<li>
									<span>12-29</span>
									<p>Vue的UI开源框架汇总，含Vue Material、IView、vux等</p>
								</li>
								<li>
									<span>12-29</span>
									<p>Vue的UI开源框架汇总，含Vue Material、IView、vux等</p>
								</li>
								<li>
									<span>12-29</span>
									<p>Vue的UI开源框架汇总，含Vue Material、IView、vux等</p>
								</li>
								<li>
									<span>12-29</span>
									<p>Vue的UI开源框架汇总，含Vue Material、IView、vux等</p>
								</li>
								<li>
									<span>12-29</span>
									<p>Vue的UI开源框架汇总，含Vue Material、IView、vux等</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="col-md-6">
					<div class="GoodInterview">
						<div class="GoodInterview_title">
							<h6><b>vue面试通</b></h6>
							<h6 class="pull-right">更多...</h6>
						</div>
						<div class="GoodInterview_content">
							<ul>
								<li>
									<span>12-29</span>
									<p>Vue的UI开源框架汇总，含Vue Material、IView、vux等</p>
									<br>
								</li>
								<li>
									<span>12-29</span>
									<p>Vue的UI开源框架汇总，含Vue Material、IView、vux等</p>
								</li>
								<li>
									<span>12-29</span>
									<p>Vue的UI开源框架汇总，含Vue Material、IView、vux等</p>
								</li>
								<li>
									<span>12-29</span>
									<p>Vue的UI开源框架汇总，含Vue Material、IView、vux等</p>
								</li>
								<li>
									<span>12-29</span>
									<p>Vue的UI开源框架汇总，含Vue Material、IView、vux等</p>
								</li>
								<li>
									<span>12-29</span>
									<p>Vue的UI开源框架汇总，含Vue Material、IView、vux等</p>
								</li>
								<li>
									<span>12-29</span>
									<p>Vue的UI开源框架汇总，含Vue Material、IView、vux等</p>
								</li>
								<li>
									<span>12-29</span>
									<p>Vue的UI开源框架汇总，含Vue Material、IView、vux等</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="GoodInterview">
						<div class="GoodInterview_title">
							<h6><b>vue面试通</b></h6>
							<h6 class="pull-right">更多...</h6>
						</div>
						<div class="GoodInterview_content">
							<ul>
								<li>
									<span>12-29</span>
									<p>Vue的UI开源框架汇总，含Vue Material、IView、vux等</p>
									<br>
								</li>
								<li>
									<span>12-29</span>
									<p>Vue的UI开源框架汇总，含Vue Material、IView、vux等</p>
								</li>
								<li>
									<span>12-29</span>
									<p>Vue的UI开源框架汇总，含Vue Material、IView、vux等</p>
								</li>
								<li>
									<span>12-29</span>
									<p>Vue的UI开源框架汇总，含Vue Material、IView、vux等</p>
								</li>
								<li>
									<span>12-29</span>
									<p>Vue的UI开源框架汇总，含Vue Material、IView、vux等</p>
								</li>
								<li>
									<span>12-29</span>
									<p>Vue的UI开源框架汇总，含Vue Material、IView、vux等</p>
								</li>
								<li>
									<span>12-29</span>
									<p>Vue的UI开源框架汇总，含Vue Material、IView、vux等</p>
								</li>
								<li>
									<span>12-29</span>
									<p>Vue的UI开源框架汇总，含Vue Material、IView、vux等</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
		</div><!--col9的结尾-->
		<!--右边的互动栏单独出来-->
		<div class="col-md-3">
			<div class="interactive">
				<h6 style="border-bottom: #DADADA solid 1px;padding-bottom: 5px;"><b>互动中心</b></h6>
				<div class="interactive_content">
					<ul>
						<li>
							<a href="">看懂前端脚手架你需要这篇webpack</a><br>
							<span>
								<small>点击：</small>145
							</span>
							<span>
								<small>评价：</small>4
							</span>
						</li>
						<li>
							<a href="">看懂前端脚手架你需要这篇webpack</a><br>
							<span>
								<small>点击：</small>145
							</span>
							<span>
								<small>评价：</small>4
							</span>
						</li>
						<li>
							<a href="">看懂前端脚手架你需要这篇webpack</a><br>
							<span>
								<small>点击：</small>145
							</span>
							<span>
								<small>评价：</small>4
							</span>
						</li>
						<li>
							<a href="">看懂前端脚手架你需要这篇webpack</a><br>
							<span>
								<small>点击：</small>145
							</span>
							<span>
								<small>评价：</small>4
							</span>
						</li>
						<li>
							<a href="">看懂前端脚手架你需要这篇webpack</a><br>
							<span>
								<small>点击：</small>145
							</span>
							<span>
								<small>评价：</small>4
							</span>
						</li>
						<li>
							<a href="">看懂前端脚手架你需要这篇webpack</a><br>
							<span>
								<small>点击：</small>145
							</span>
							<span>
								<small>评价：</small>4
							</span>
						</li>
						<li>
							<a href="">看懂前端脚手架你需要这篇webpack</a><br>
							<span>
								<small>点击：</small>145
							</span>
							<span>
								<small>评价：</small>4
							</span>
						</li>
						<li>
							<a href="">看懂前端脚手架你需要这篇webpack</a><br>
							<span>
								<small>点击：</small>145
							</span>
							<span>
								<small>评价：</small>4
							</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="RecommendedContent">
				<h6><b>推荐内容</b></h6>
				<div>
					<ul>
						<li>微信小程序面试题，附答案</li>
						<li>微信小程序面试题，附答案</li>
						<li>微信小程序面试题，附答案</li>
						<li>微信小程序面试题，附答案</li>
						<li>微信小程序面试题，附答案</li>
						<li>微信小程序面试题，附答案</li>
						<li>微信小程序面试题，附答案</li>
						<li>微信小程序面试题，附答案</li>
					</ul>
				</div>
			</div>

			<div class="hotspot">
				<h6><b>本月热点</b></h6>
				<div>
					<ul>
						{foreach $info_rd as $info}
						<li>
							<a href="{:url('index/news/preview',['id'=>$info.id])}">{$info.news_name}
							</a>
						</li>
						{/foreach}
					</ul>
				</div>
				<div style="margin-top: 20px;">
					<img src="_PUBLIC_static/index/img/ask.png" alt="">
				</div>
				
			</div>
		</div>
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="_PUBLIC_static/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
{include file="footer"}