<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>广大项目演示程序</title>
	<link rel="stylesheet" href="_PUBLIC_static/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="_PUBLIC_static/index/css/common.css">
	
	<link rel="stylesheet" href="_PUBLIC_static/index/img">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-3" style="margin-bottom: 5px;">
				<img src="_PUBLIC_static/index/img/logo.gif" alt="">
			</div>
		</div>
	
	<header>
		<ul class="row nav">
			<li class="lanmuTitle">
				<a href="{:url('index/home')}">主页</a>
			</li>
			<li class="lanmuTitle">
				<a href="{:url('lanmu/mianshi')}">vue面试通</a>
			</li>
			<li class="lanmuTitle">
				<a href="{:url('index/home')}">前端面试通</a>
			</li>
			<li class="lanmuTitle">
				<a href="{:url('index/home')}">大前端知识</a>
			</li>
			<li class="lanmuTitle">
				<a href="{:url('lanmu/zhichang')}">挨踢职场</a>
			</li>
			<li class="lanmuTitle">
				<a href="{:url('index/home')}">匿名社区</a>
			</li>
			<li class="pull-right" style="margin-right: 20px;">
				<a href="">注册</a>
			</li>
			<li class="pull-right" >
				<a href="">登录</a>
			</li>
		</ul>
	</header>