<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>广大项目演示程序</title>
	<link rel="stylesheet" href="_PUBLIC_static/lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="_PUBLIC_static/lib/fontasome/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="_PUBLIC_static/index/css/common.css">
	<link rel="stylesheet" href="_PUBLIC_static/index/css/homeP.css">
	<!--<link rel="stylesheet" href="_PUBLIC_static/index/js/home.js">-->
	<link rel="stylesheet" href="_PUBLIC_static/index/img">
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-3" style="margin-bottom: 5px;">
				<img src="_PUBLIC_static/index/img/logo.gif" alt="">
			</div>
		</div>
	
	<header>
		<ul class="row nav">
			<li class="lanmuTitle">
				<a href="{:url('index/home')}">主页</a>
			</li>
			<li class="lanmuTitle">
				<a href="{:url('lanmu/mianshi')}">今日新闻</a>
			</li>
			<li class="lanmuTitle">
				<a href="{:url('lanmu/mstong')}">前端面试通</a>
			</li>
			<li class="lanmuTitle">
				<a href="{:url('lanmu/zhishi')}">大前端知识</a>
			</li>
			<li class="lanmuTitle">
				<a href="{:url('lanmu/zhichang')}">挨踢职场</a>
			</li>
			<li class="lanmuTitle">
				<a href="{:url('admin/news/index')}">文章管理</a>
			</li>
			<li class="pull-right" style="margin-right: 20px;">
				<a href="{:url('user/reg')}">注册</a>
			</li>
			<li class="pull-right" >
				<a href="{:url('user/login')}">登录</a>
			</li>
		</ul>
	</header>