{include file="header"}

	<div class="row">
		<div class="col-md-9">
			<div>
				<h2>{$info.news_name}</h2>
				<div>
					{$info.news_content}
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="interactive">
				<h6 style="border-bottom: #DADADA solid 1px;padding-bottom: 5px;"><b>互动中心</b></h6>
				<div class="interactive_content">
					<ul>
						<li>
							<a href="">看懂前端脚手架你需要这篇webpack</a><br>
							<span>
								<small>点击：</small>145
							</span>
							<span>
								<small>评价：</small>4
							</span>
						</li>
						<li>
							<a href="">看懂前端脚手架你需要这篇webpack</a><br>
							<span>
								<small>点击：</small>145
							</span>
							<span>
								<small>评价：</small>4
							</span>
						</li>
						<li>
							<a href="">看懂前端脚手架你需要这篇webpack</a><br>
							<span>
								<small>点击：</small>145
							</span>
							<span>
								<small>评价：</small>4
							</span>
						</li>
						<li>
							<a href="">看懂前端脚手架你需要这篇webpack</a><br>
							<span>
								<small>点击：</small>145
							</span>
							<span>
								<small>评价：</small>4
							</span>
						</li>
						<li>
							<a href="">看懂前端脚手架你需要这篇webpack</a><br>
							<span>
								<small>点击：</small>145
							</span>
							<span>
								<small>评价：</small>4
							</span>
						</li>
						<li>
							<a href="">看懂前端脚手架你需要这篇webpack</a><br>
							<span>
								<small>点击：</small>145
							</span>
							<span>
								<small>评价：</small>4
							</span>
						</li>
						<li>
							<a href="">看懂前端脚手架你需要这篇webpack</a><br>
							<span>
								<small>点击：</small>145
							</span>
							<span>
								<small>评价：</small>4
							</span>
						</li>
						<li>
							<a href="">看懂前端脚手架你需要这篇webpack</a><br>
							<span>
								<small>点击：</small>145
							</span>
							<span>
								<small>评价：</small>4
							</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="RecommendedContent">
				<h6><b>推荐内容</b></h6>
				<div>
					<ul>
						<li>微信小程序面试题，附答案</li>
						<li>微信小程序面试题，附答案</li>
						<li>微信小程序面试题，附答案</li>
						<li>微信小程序面试题，附答案</li>
						<li>微信小程序面试题，附答案</li>
						<li>微信小程序面试题，附答案</li>
						<li>微信小程序面试题，附答案</li>
						<li>微信小程序面试题，附答案</li>
					</ul>
				</div>
			</div>

			<div class="hotspot">
				<h6><b>本月热点</b></h6>
				<div>
					<ul>
						<li>纯CSS3实现的3D按钮，酷似牛奶般丝</li>
						<li>纯CSS3实现的3D按钮，酷似牛奶般丝</li>
						<li>纯CSS3实现的3D按钮，酷似牛奶般丝</li>
						<li>纯CSS3实现的3D按钮，酷似牛奶般丝</li>
						<li>纯CSS3实现的3D按钮，酷似牛奶般丝</li>
						<li>纯CSS3实现的3D按钮，酷似牛奶般丝</li>
						<li>纯CSS3实现的3D按钮，酷似牛奶般丝</li>
						<li>纯CSS3实现的3D按钮，酷似牛奶般丝</li>
					</ul>
				</div>
				<img src="_PUBLIC_static/index/img/ask.png" alt="">
			</div>
		</div>
	</div>


{include file="footer"}